html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    line-height: 1.6;
    background-color: #242424;
    color: #000000;
}

.conteudo {
    flex: 1; 
}

.conteudoPerfil{
    margin-top: 150px;
}

.navbar {
    background-color: #441b0e8c !important;
}

.navbar .nav-link {
    color: #fff !important;
    font-weight: 500;
    padding: 10px 15px;
    text-transform: uppercase;
}

.navbar .nav-link:hover {
    color: #f0f0f0 !important; 
    background-color: rgba(255, 255, 255, 0.1); 
}

.navbar .navbar-brand svg {
    fill: #fff;
}

.navbar .nav-item {
    margin: 0 10px;
}

.btn-outline-success {
    background-color: #996640 !important; 
    color: white !important; 
    border-color: #996640 !important; 
    box-shadow: none !important;
}

footer {
    background-color: #6c757d;
    color: #fff;
}

footer p {
    margin: 0;
    font-size: 14px;
    color: black; 
}
.reserva {
    border-radius: 4px;
    background-color: #996640;
    box-shadow: none !important; 
    border: none;}

.reserva:focus, .reserva:hover {
    box-shadow: none !important; 
    background-color: #4d2b11;
}

.botao{
    background-color: #996640 !important;
    border-radius: 4px;
    border: none;
}
.editar{
    color: #ffff;
    text-decoration: none;
}